<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html><head>
<title>404 Not Found</title>
</head><body>
<h1>Not Found</h1>
<p>The requested URL /courses/cse326/2017/labs/labResources/layout.css was not found on this server.</p>
<hr>
<address>Apache/2.2.15 (CentOS) Server at selab.hanyang.ac.kr Port 80</address>
</body></html>

.topic{
  border-bottom: 2px blue;
  border-bottom-style: dashed;
}


.content {
  border: 4px solid #1D2475;
  background-color: #99ccff;
  padding: 5px;
  margin-top: 10px;
  text-align: justify;
  overflow: hidden;
  border-radius: 15px;
}

.content *:hover{
  background-color: #A6CE39;
}

.content img{
  float: right;
}

#group{
  overflow: hidden;
}

#body{
  background-image: url(./blueTextureBG.jpg);
}

#innerbody{
  border: 10px solid white;
  background-color: white;
  margin-left: 10%;
  margin-right: 10%;
}

#top{
  color:white;
  text-align: right;
  background-color: #1D2475;
}

#sidebox{
  border-radius: 15px;
  margin-top: 10px;
  margin-right: 5px;
  text-align: left;
  border: 4px solid #1D2475;
  float: left;
  background-color: #3366cc;
  width: 150px;
}

#theme{
  font-size: 14pt;
  color: #cccccc;
}
